#box1{
    width: 100px;
    height: 100px;
    padding: 20px;
    margin: 20px;
    background-color: rgb(102, 70, 10);
    border: 10px solid black;
    border-radius: 50%;
}

#box1:hover{
    background-color: orange;
    box-shadow: 1px 1px 50px orangered;
}

#box2{
    width: 100px;
    height: 100px;
    padding: 20px;
    margin: 20px;
    background-color: rgb(82, 82, 6);
    border: 10px solid black;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
}

#box2:hover{
    background-color: yellow;
    box-shadow: 1px 1px 50px yellow;
}

#box3{
    width: 100px;
    height: 100px;
    padding: 20px;
    margin: 20px;
    background-color: rgb(10, 84, 10);
    border: 10px solid black;
    border-top-left-radius: 50%;
    border-bottom-right-radius: 50%;
}

#box3:hover{
    background-color: green;
    box-shadow: 1px 1px 50px greenyellow;
}

body{
    background-color: skyblue;
}
