header {
    margin: 570px;
    margin-bottom: 0px;
    margin-top: 0px;
}

nav {
    display: flex;
    gap: 20px;
    margin: 170px;
    margin-bottom: 50px;
    margin-top: 0px;
}

button {
    display: flex;
    margin: 5px;
    font-weight: bold;
}